<?xml version="1.0" encoding="UTF-8"?>
   <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
	xmlns:sql='http://schemas.microsoft.com/wix/SqlExtension'
	xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="CIMS" UpgradeCode="5e989947-3785-4b5c-ab0c-1ba550232f50">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		<UIRef Id="WixUI_Minimal"/>
	</Product>

	<Fragment>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject1" />
				<Component Id="SqlComponent" Guid="356E106D-3B34-4B9C-9847-203EE8E5888B" KeyPath="yes">
					
					<sql:SqlDatabase Id="SqlDatabase"
									 Database="CIMS"
									 Server=".\SQLEXPRESS"
									 DropOnInstall="no"
									 CreateOnInstall="yes"
									 DropOnUninstall="yes"
									 ContinueOnError="no"
									 ConfirmOverwrite="yes">
						<sql:SqlScript Id="DoEverything" BinaryKey="DoEverything" ExecuteOnInstall="yes" />
					</sql:SqlDatabase>
				</Component>

			</Directory>
		</Directory>
		<Binary Id="DoEverything" SourceFile="CreateDB.sql" />
		<Feature Id="SqlFeature" Title="SqlFeature" Level="1">
			<ComponentRef Id="SqlComponent"/>
		</Feature>


	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
